body{
    
    font-family: "Roboto", sans-serif;
}
.orange-text{
    color: orange;
    font-weight: bold;
}
h1{
    font-size: 50px;
    
}
h2{
    font-size: 40px;
}
p{
    color: gray;
}

.half{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.link-button{
    text-decoration:none;
    background-image:linear-gradient(180deg,orange,orange);
    border-radius: 10px;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
}


.top{
    background-image: url("/personal-website/header-bg.png");
    background-repeat: no-repeat;
}
img{
    import img1 from '../profile-1.png';
    height: 120%;
    width: 120%;
}